@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: white;
    box-sizing: border-box;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border: 1px solid #c4c4c4;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #797a7a;
    border: 1px solid #797a7a;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #777;
    margin-bottom: 0.5rem;
}
